/* Global styles */
.App {
  text-align: center;
  background-color: #bfe2f3; /* Light background color */
  /* Use the following line to set a background image */
  background-image: url('https://img.freepik.com/free-vector/hand-drawn-abstract-shapes-background_23-2149097297.jpg');
  /* Additional background properties */
  background-size: cover; /* Cover the entire element with the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-attachment: fixed; /* Fix the background in place */
}

/* Styles for the main header */
.App-header {
  background-color: #ff6b6b; /* Reddish header background */
  padding: 40px; /* Increased padding for header */
  font-size: calc(12px + 2vmin); /* Adjusted font size */
  color: #fff; /* White text */
  border-bottom: 4px solid #333; /* Darker border at the bottom */
}

/* Responsive adjustments for mobile screens */
@media screen and (max-width: 768px) {
  .App-header {
    padding: 30px; /* Adjusted padding for mobile */
  }

  /* Additional mobile styles for better readability */
  .App {
    padding: 20px; /* Add padding to the entire app for mobile */
  }
}
