/* Global styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Styles for the main header */
.App-header {
  background-color: #282c34;
  padding: 20px; /* Add padding for better mobile display */
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Responsive adjustments for mobile screens */
@media screen and (max-width: 768px) {
  .App-header {
    min-height: 100vh;
    display: block;
  }

  .App-logo {
    height: 20vmin; /* Adjust the logo size for mobile screens */
  }

  /* Additional mobile styles for better readability */
  .App {
    padding: 20px; /* Add padding to the entire app for mobile */
  }
}
